<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Update</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>


    <div style="display: flex; flex-direction: column; gap: 20px; ">
        <h2>User Details</h2>

        <p>Username: <%= profile.Username %>
        </p>
        <p>Email: <%= profile.email %>
        </p>

        <% if (profile.datas.length> 0) { %>
            <p>
                Address: <%= profile.datas[0].Address %>
            </p>
            <p>
                Age: <%= profile.datas[0].age %>
            </p>
            <p>
                Phone Number: <%= profile.datas[0].phoneNumber %>
            </p>
        <% } else { %>
            <p>No profile details found!!</p>
        <% } %>
        
        <a href="/Update">editprofile</a>
    </div>

</body>

</html>